extends layout

block content
  form.form-horizontal(action="/stages/eleves/" + eleve.cne + "/fiche", method="post")
    .panel.panel-default
      .panel-heading: h3.panel-title Élève
      .panel-body
        .form-group
          label.control-label.col-sm-2(for="cne") CNE
          .col-sm-10
            input#cne.form-control(
              type="text",
              name="cne",
              value=eleve.cne,
              disabled
            )
        .form-group
          label.control-label.col-sm-2(for="nom") Nom
          .col-sm-10
            input#nom.form-control(
              type="text",
              name="nom",
              value=eleve.nom,
              disabled
            )
        .form-group
          label.control-label.col-sm-2(for="prenom") Prénom
          .col-sm-10
            input#prenom.form-control(
              type="text",
              name="prenom",
              value=eleve.prenom,
              disabled
            )
        .form-group
          label.control-label.col-sm-2(for="filiere") Filière
          .col-sm-10
            input#filiere.form-control(
              type="text",
              name="filiere",
              value=eleve.filiere,
              disabled
            )
        .form-group
          label.control-label.col-sm-2(for="niveau") Niveau
          .col-sm-10
            input#niveau.form-control(
              type="text",
              name="niveau",
              value=eleve.niveau,
              disabled
            )
        .form-group
          label.control-label.col-sm-2(for="telephone_eleve") Téléphone
          .col-sm-10
            input#telephone_eleve.form-control(
              type="text",
              name="telephone_eleve",
              value=eleve.telephone_eleve,
              placeholder="Téléphone",
            )
        .form-group
          label.control-label.col-sm-2(for="email_eleve") Email
          .col-sm-10
            input#email_eleve.form-control(
              type="email",
              name="email_eleve",
              value=eleve.email_eleve,
              placeholder="Email",
            )
    .panel.panel-default
      .panel-heading
        h3.panel-title Société
      .panel-body
        .form-group
          label.control-label.col-sm-2(for="nom_societe") Nom
          .col-sm-10
            input#nom_societe.form-control(
              type="text",
              name="nom_societe",
              placeholder="Nom de la société",
              required
            )
        .form-group
          label.control-label.col-sm-2(for="adresse_societe") Adresse
          .col-sm-10
            textarea#adresse_societe.form-control(
              name="adresse_societe",
              placeholder="Adresse de la société",
              required
            )
        .form-group
          label.control-label.col-sm-2(for="telephone_societe") Téléphone
          .col-sm-10
            input#telephone_societe.form-control(
              type="text",
              name="telephone_societe",
              placeholder="Téléphone de la société",
            )
        .form-group
          label.control-label.col-sm-2(for="telephone_societe") Fax
          .col-sm-10
            input#fax_societe.form-control(
              type="text",
              name="fax_societe",
              placeholder="Fax de la société",
            )
        .form-group
          label.control-label.col-sm-2(for="email_societe") Email
          .col-sm-10
            input#email_societe.form-control(
            type="text",
            name="email_societe",
            placeholder="Email de la société",
            required
            )
    .panel.panel-default
      .panel-heading: h3.panel-title Stage
      .panel-body
        .form-group
          label.control-label.col-sm-2(for="sujet") Sujet
          .col-sm-10
              input#sujet.form-control(
              type="text",
              name="sujet",
              placeholder="Sujet du stage",
            )
        .form-group
          label.control-label.col-sm-2(for="debut") Date de début
          .col-sm-10
            input#debut.form-control(
              type="date",
              name="debut",
              required
            )
        .form-group
          label.control-label.col-sm-2(for="fin") Date de fin
          .col-sm-10
            input#fin.form-control(
              type="date",
              name="fin",
              required
            )
        .form-group
          label.control-label.col-sm-2(for="encadrant") Encadrant
          .col-sm-10
            input#encadrant.form-control(
              type="text",
              name="encadrant",
              placeholder="Encadrant du stage",
            )
        .form-group
          label.control-label.col-sm-2(for="telephone_encadrant") Téléphone de l'encadrant
          .col-sm-10
            input#telephone_encadrant.form-control(
              type="text",
              name="telephone_encadrant",
              placeholder="Téléphone de l'encadrant du stage",
            )
    button.btn.btn-primary(type='submit') Enregistrer
