extends layout

block content
  form.form-horizontal(action="/stages/etudiants/" + fiche.cne + "/fiche", method="post")
    .panel.panel-default
      .panel-heading: h3.panel-title Élève
      .panel-body
        .form-group
          label.control-label.col-sm-2(for="cne") CNE
          .col-sm-10
            input#cne.form-control(
              type="text",
              name="cne",
              value=fiche.cne,
            )
        .form-group
          label.control-label.col-sm-2(for="nom") Nom
          .col-sm-10
            input#nom.form-control(
              type="text",
              name="nom",
              value=fiche.nom,
            )
        .form-group
          label.control-label.col-sm-2(for="prenom") Prénom
          .col-sm-10
            input#prenom.form-control(
              type="text",
              name="prenom",
              value=fiche.prenom,
            )
        .form-group
          label.control-label.col-sm-2(for="filiere") Filière
          .col-sm-10
            input#filiere.form-control(
              type="text",
              name="filiere",
              value=fiche.filiere,
            )
        .form-group
          label.control-label.col-sm-2(for="niveau") Niveau
          .col-sm-10
            input#niveau.form-control(
              type="text",
              name="niveau",
              value=fiche.niveau,
            )
        .form-group
          label.control-label.col-sm-2(for="telephone_etudiant") Téléphone
          .col-sm-10
            input#telephone_etudiant.form-control(
              type="text",
              name="telephone_etudiant",
              value=fiche.telephone_etudiant,
              placeholder="Téléphone",
            )
        .form-group
          label.control-label.col-sm-2(for="email_etudiant") Email
          .col-sm-10
            input#email_etudiant.form-control(
              type="email",
              name="email_etudiant",
              value=fiche.email_etudiant,
              placeholder="Email",
            )
    .panel.panel-default
      .panel-heading
        h3.panel-title Société
      .panel-body
        .form-group
          label.control-label.col-sm-2(for="nom_societe") Nom
          .col-sm-10
            input#nom_societe.form-control(
              type="text",
              name="nom_societe",
              value=fiche.nom_societe,
              placeholder="Nom de la société",
            )
        .form-group
          label.control-label.col-sm-2(for="adresse_societe") Adresse
          .col-sm-10
            textarea#adresse_societe.form-control(
              name="adresse_societe",
              placeholder="Adresse de la société",
            )
              = fiche.adresse_societe
        .form-group
          label.control-label.col-sm-2(for="telephone_societe") Téléphone
          .col-sm-10
            input#telephone_societe.form-control(
              type="text",
              name="telephone_societe",
              value=fiche.telephone_societe,
              placeholder="Téléphone de la société",
            )
        .form-group
          label.control-label.col-sm-2(for="telephone_societe") Fax
          .col-sm-10
            input#fax_societe.form-control(
              type="text",
              name="fax_societe",
              value=fiche.fax_societe,
              placeholder="Fax de la société",
            )
        .form-group
          label.control-label.col-sm-2(for="email_societe") Email
          .col-sm-10
            input#email_societe.form-control(
            type="text",
            name="email_societe",
            value=fiche.email_societe,
            placeholder="Email de la société",
            )
    .panel.panel-default
      .panel-heading: h3.panel-title Stage
      .panel-body
        .form-group
          label.control-label.col-sm-2(for="sujet") Sujet
          .col-sm-10
              input#sujet.form-control(
              type="text",
              name="sujet",
              value=fiche.sujet,
              placeholder="Sujet du stage",
            )
        .form-group
          label.control-label.col-sm-2(for="debut") Date de début
          .col-sm-10
            input#debut.form-control(
              type="date",
              name="debut",
              value=fiche.debut,
            )
        .form-group
          label.control-label.col-sm-2(for="fin") Date de fin
          .col-sm-10
            input#fin.form-control(
              type="date",
              name="fin",
              value=fiche.fin,
            )
        .form-group
          label.control-label.col-sm-2(for="encadrant") Encadrant
          .col-sm-10
            input#encadrant.form-control(
              type="text",
              name="encadrant",
              value=fiche.encadrant,
              placeholder="Encadrant du stage",
            )
        .form-group
          label.control-label.col-sm-2(for="telephone_encadrant") Téléphone de l'encadrant
          .col-sm-10
            input#telephone_encadrant.form-control(
              type="text",
              name="telephone_encadrant",
              value=fiche.telephone_encadrant,
              placeholder="Téléphone de l'encadrant du stage",
            )
    button.btn.btn-primary(type='submit') Enregistrer
