extends layout

block content
  h1= title

  table.table
    thead
      tr
        th
        th CNE
        th Nom
        th Prénom
        th Fiche remplie
    tbody
      each eleve in eleves
        tr
          td
            .btn-group(role="group")
              button.btn.btn-default.dropdown-toggle(
                type="button",
                data-toggle="dropdown",
                aria-haspopup="true",
                aria-expanded="false"
              )
                span.glyphicon.glyphicon-menu-down
              ul.dropdown-menu
                li: a(href="/stages/eleves/" + eleve.cne + "/demande") Générer une demande
                li.divider(role="separator")      
                li: a(href="/stages/eleves/" + eleve.cne + "/fiche") Consulter/modifier la fiche
                li.divider(role="separator")
                li: a(href="/stages/eleves/" + eleve.cne + "/convention") Générer la convention
          td= eleve.cne
          td= eleve.nom
          td= eleve.prenom
          td= eleve.hasOwnProperty("stage")
