extends layout

block content
  .titre_et_boutons
    h1.title_pfes= title
    .boutons
      a.btn.btn-success(href="/stages/pfes/new")
        i.glyphicon.glyphicon-plus
        |  Nouveau PFE
      | 
      a.btn.btn-primary(href="/stages/pfes/export")
        i.glyphicon.glyphicon-list-alt
        |  Export vers Excel

  table.table
    thead
      tr
        th Nom + prénom
        th Société + ville
        th Sujet
        th Technologies utilisées
        th Email de l'encadrant
        th Email du stagiaire
    tbody  
      each pfe in pfes
        tr
          td= pfe.nom_prenom
          td= pfe.societe_ville
          td= pfe.sujet
          td= pfe.technologies
          td= pfe.email_encadrant
          td= pfe.email
